.span-20.prepend-2
  %h2 Log In
  .span-20.last
    .span-16.prepend-1.last
      = form_tag sessions_path do 
        .field
          = label_tag :email
          = text_field_tag :email, params[:email]
        .field
          = label_tag :password
          = password_field_tag :password
        .actions
          = submit_tag "Log In"
