.span-20.prepend-2
  %h2 Log In
  .span-20.last
    .span-16.prepend-1.last
      = semantic_form_for sessions_path do |f|
        = f.inputs do
          = f.input :email
          = f.input :password
        = f.actions do
          = f.submit
