%h1 Sign Up

= semantic_form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        = for message in @user.errors.full_messages
          %li= message
  = f.inputs do
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
  = f.actions do
    = f.submit
