= semantic_form_for @item do |f|
  = f.inputs do
    = f.input :name, :as => :string
    = f.input :value
    = f.input :item_type, :as => :radio, :collection => ["In", "Out"]
    = f.input :period_type, :as => :select, :collection => ["Monthly", "Bi-weekly", "Weekly", "Once"]
    = f.input :next_date, :as => :string, (data-behaviour =>'datepicker')
  = f.actions 
