= form_for(@item) do |f|
  .span-22
    .span-3= f.label :name
    .span-3= f.text_field :name
  .span-22
    .span-3= f.label :value
    .span-3= f.number_field :value
  .span-22
    .span-3= f.label "Direction"
    .span-3= f.radio_button :direction, :out
    .span-3= f.radio_button :direction, :in
  .span.22
    .span-3= f.label :next_date
    .span-3= f.datepicker :next_date
  .span-22
    = f.submit
