.span-12.last
  = semantic_form_for(@item) do |f|
    = f.inputs do 
      = f.input :name
      = f.input :value, :as => :number
      = f.input :direction, :as => :radio, :collection => ["In", "Out"]
      = f.input :next_date, :as => :string, :input_html => {:class => "datepicker"}
      = f.input :period, :as => :radio, :collection => @periods
    .span-22.last
      = f.submit
.span-12= link_to 'Remove this item', item_path(@item, :destroy => true), :confirm => 'Are you sure?', :method => :delete
