%h1 Item
.span-20.prepend-1
  .span-5
    %h3= @item.name
  .span-5.dollar-value
    %h3
      = @item.value 
      = tag_value(@item.direction) 
  %p - 
  .span-20
    %strong.span-4 Next date
    .span-8= @item.next_date
.span-4.last
.span-20.last
  
  = link_to 'Edit', edit_item_path(@item)
  \|
  = link_to 'List', items_path
